@using TravelGroupAssignment1.Areas.CarManagement.Models;

@model CarRentalCompany
@{
    ViewData["Title"] = "Rental Company Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card">

    <!-- basic layout of project details -->
    <div class="card-body">
        <h3 class="card-title">@Model.CompanyName</h3>
        <p>@Model.CarRentalCompanyId</p>

        <dl class="row">
            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">@Model.Location</dd>

            <dt class="col-sm-3">Rating</dt>
            <dd class="col-sm-9">@(Model.Rating)/5</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.CarRentalCompanyId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Return</a>

    </div>

</div>
